{% extends "base.html" %}

{% block meta %}
    <title>GolekMakanRek!</title>
{% endblock meta %}

{% block content %}
    <h1>Selamat datang!</h1>
    <p>Ingin makanan apa?</p>
    <div style="margin-bottom: 10px;">
        <form action="/get_food" method="get">
            {{ food_search }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <form action="/get_restaurant" method="get">
            {{ restaurant_search }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}